/* Generic styles for entire page  */

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

button {
  width: 90px;
  height: 45px;
  border-radius: 12px;
  margin-right: 5px;
  font-size: 16px;
  color: azure;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 20px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-color: rgb(4, 119, 160);
  border-width: 2px;
  font-size: 22px;
  padding-left: 2%;
}

select {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  border-color: rgb(4, 119, 160);
  border-width: 2px;
  font-size: 20px;
  padding-left: 5%;
}

/* Design of header */
.navbar {
  background-color: blue;
  color: white;
}

.brand {
  display: inline-block;
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Lato", sans-serif;
}

/* Main form container implemented using css flex*/
.flex-container {
  display: flex;
  justify-content: space-between;
  row-gap: 10px;
  flex-wrap: wrap;
}

.flex-child {
  width: 49%;
}

.row {
  margin-top: 15px;
}

/* style to apply when an input field does not contain valid value */
.invalid-field {
  border-color: red;
}

/* Style for error message box */
.error {
  color: rgba(246, 35, 35, 0.888);
  background-color: rgb(243, 239, 235);
  margin-bottom: 2%;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: none;
}

#button1 {
  background-color: rgb(24, 171, 10);
}

#button2 {
  background-color: rgb(215, 2, 2);
}

#button3 {
  background-color: rgb(48, 46, 46);
}

.ans-row {
  margin-top: 50px;
}

.scrollmenu {
  overflow: auto;
}

.ans-input {
  height: 80px;
  font-size: 40px;
}

/* for mobile */
@media only screen and (max-width: 600px) {
  .brand {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
    font-size: 18px;
  }

  .main-form {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .flex-child {
    width: 100%;
  }
}

/* for tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .brand {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    font-size: 35px;
  }

  .main-form {
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* for laptop */
@media only screen and (min-width: 900px) {
  .brand {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 350px;
    font-size: 35px;
  }

  .main-form {
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
  }
}
